name: Test Workflow

on:
  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:
  test-action:
    name: GitHub Actions Test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@v5

      - name: Test Action
        id: test-action
        uses: darcymccoy/merge-conflict-action@d54efc11c4c5ac02d87b4b1122986100589dc565
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          include-drafts: false
          post-comments: true