name: Test Workflow

on:
  pull_request:
    branches:
      - main

permissions:
  contents: read
  pull-requests: write

jobs:
  test-action:
    name: GitHub Actions Test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@v5

      - name: Test Action
        id: test-action
        uses: darcymccoy/merge-conflict-action@2b494c7f787a7f2de35152e9ef688ad60cc54210
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          include-drafts: false
          post-comments: true